.project-main-container {
  background-color: #F5F5F5;
  padding: 3% 0;
}

.project-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.project-container-text p:first-of-type {
  font-weight: 750;
  font-size: 1.8rem;
  text-shadow: rgba(0, 0, 0, 0.15) 10px 15px 10px;
}
