.contact-main-container {
  background-color: #1e1e1e;
  width: 100%;
  min-height: 35vh;
  display: grid;
  place-items: center;
  padding: 3.5rem;
}
.contact-main-container h4 {
  color: rgb(255, 255, 255);
}
.contact-main-container p {
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 25%;
}
.contact-me-btn {
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  outline: none;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #383639;
  background-color: white;
  transition: all 0.5s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.15) 6px 6px 6px;
}

.contact-me-btn:hover {
  color: #383639;
  transform: scale(0.98);
}
