.footer-main-container {
  /* background-color: #eef1f3; */
  background-color: #F5F5F5;
}
footer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0 0.5% 0;
}

footer p:nth-child(1){
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: "Bruno Ace", sans-serif;
}
footer p:nth-child(2){
  font-size: 1.1rem;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a i {
  color: #a19b9b;
  font-size: 2.7rem;
  margin: 1rem 1rem;
  transition: all 0.6s ease;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.15) 10px 15px 10px;
}
.social-links a i:hover {
  color: #373535;
  text-shadow: rgba(0, 0, 0, 0.15) 6px 6px 6px;
}
