.three-blog-container {
  padding: 3% 0;
}

.three-blog-container-inner {
  width: 80%;
  margin: 0 auto;
}

.blog-title {
    font-weight: 750;
    font-size: 1.8rem;
    text-shadow: rgba(0, 0, 0, 0.15) 10px 15px 10px;
  }


.loaded-blog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .loaded-blog{
    height: 100%;
   
    grid-template-columns: 1fr;
  }
}