/* ------------------------ Blog ---------------------------- */
.three-card-container {
  padding: 3% 0;
}

.three-card-container-inner {
  width: 80%;
  margin: 0 auto;
}

.card-text-title {
    font-weight: 750;
    font-size: 1.8rem;
    text-shadow: rgba(0, 0, 0, 0.15) 10px 15px 10px;
  }

.loaded-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .loaded-card{
    height: 100%;
   
    grid-template-columns: 1fr;
  }
}


/* ------------------------ BlogPass ---------------------------- */
.card-body{
  background-color: #F5F5F5;
}


/* ------------------------ BlogCollection ---------------------------- */

@media screen and (max-width: 768px) {
  .card-title{
   text-align: center;
  }
}