/* Font Style starts */
@font-face {
  font-family: "Bruno Ace", serif;
  src: local("Bruno Ace"),
    url("./components/assests/fonts/Bruno-Ace.ttf") format("ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

.font-a{
  font-family: 'Akronim', "Titillium Web";
}
.font-b {
  font-family: "Bruno Ace", sans-serif;
}

.font-r {
  font-family: "Rokkitt", serif;
}
.font-t {
  font-family: "Titillium Web", sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.contact-page-container {
  background-color: #e4e8e959;
}

/* For text bg Coloring */
.text-color{
  background-image: linear-gradient(to right, #d3d1d1, #000000);
  background-clip: text;
  color: transparent;
  font-family: "Bruno Ace", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.15) 6px 15px 6px;
}


/* CSS */
.common-btn {
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  font-family: "Bruno Ace", sans-serif;
  outline: none;
  padding: .7rem 1rem;
  margin: .5rem 0.8rem 0 0;
  font-size: .9rem;
  max-width: 10rem;
  width: 100%;
}


